{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gerenciador de tarefas - Professor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fontawesome/web-fonts-with-css/css/fontawesome-all.css' %}"> 
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="index.html"><i class="fab fa-earlybirds" style="font-size:50px; color:#beb4b5;"></i></a> <h1>Gerenciador de Tarefas</h1>
        <div class="nav-menu"><ul>
            <li><a href="cadastrar_tarefa.html">Cadastrar tarefa</a></li>
            <li><a href="vistar_tarefa.html">Vistar tarefa</a></li>
            <li><a href="index.html">Sair</a></li>
        </ul></div>
    </nav>
    <div class="site-wrapper"> 
        <h1 class="titulo-aluno">{{ turma }}</h1>
        <div class="menu-admin">
            {% for aluno in alunos %}
                <a href="aluno/{{ aluno.slug }}"><div class="btn btn-alunos">
                    <p>{{ aluno.numero}} - {{ aluno.nome }}</p> 
                    <div class="canvas-holder">
                        <canvas id="{{ aluno.slug }}" class="grafico-perfil"></canvas>
                    </div>
                </div></a>
            {% endfor %}
        </div>
    </div>

   <script> 
        var options = {
            layout: {
                padding : {
                    left: -42,
                    right: 42
                }
            },
            legend : {
                display: false
            },
            devicePixelRatio : 1
        }

        var dados = JSON.parse('{{ dadosAlunos|safe }}')
        var ctx = []

        for(var i = 0; i < dados.length; i++){
            ctx.push({
                "slug": dados[i].slug, 
                "canvas": document.getElementById(dados[i].slug)
            })
        }

        var graficos = []

        for(var i = 0; i < ctx.length; i++){
            for(var j = 0; j < dados.length; j++){
                if(ctx[i].slug == dados[j].slug){
                    graficos.push(new Chart(ctx[i].canvas, {
                        type: 'pie',
                        data : {
                            labels: ["Não fez", "Incompleta", "Feita"],
                            datasets: [{
                                data: [dados[j].naoFeitas, dados[j].incompletas, dados[j].feitas],
                                backgroundColor: [
                                    'rgba(247, 7, 27, 0.35)',
                                    'rgba(255, 206, 1, 0.35)',
                                    'rgba(14, 209, 2, 0.35)'
                                ],
                                borderColor: [
                                    'rgba(157, 180, 204,1)',
                                    'rgba(157, 180, 204, 1)',
                                    'rgba(157, 180, 204, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: options
                    }));
                    
                }
                }
            }
            
        </script>
</body>
</html>